<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thu.dulich1">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResgiterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            >
        </activity>
        <activity
            android:name=".ChiTietActivity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thu.dulich1.MainActivity" />
        </activity>
        <activity
            android:name=".SThem"
            android:label="@string/title_activity_sthem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BinhluanActivity"
            android:label="@string/title_activity_binhluan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thu.dulich1.MainActivity" />
        </activity>
        <activity
            android:name=".ThoiTietActivity"
            android:label="@string/title_activity_thoi_tiet"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thu.dulich1.MainActivity" />
        </activity>
        <activity
            android:name=".DieuKhoanActivity"
            android:label="@string/title_activity_dieu_khoan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thu.dulich1.MainActivity" />
        </activity>
        <activity
            android:name=".LienHeActivity"
            android:label="@string/title_activity_lien_he"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thu.dulich1.MainActivity" />
        </activity>
        <activity
            android:name=".XemNguoiDungActivity"
            android:label="@string/title_activity_xem_nguoi_dung"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thu.dulich1.MainActivity" />
        </activity>
    </application>

</manifest>